<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="arrow()" color="primary">
        <ion-icon slot="icon-only" name="power"></ion-icon>
      </ion-button>
        </ion-buttons>
    <ion-title>admincompanylist</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>


    <form>
      <ion-buttons>
        <ion-button (click)="list1()" expand="block" shape="round" >Add to Bucket</ion-button>

      </ion-buttons>

    <ion-buttons>
      <ion-button (click)="list()" expand="block" shape="round" >Bucket List</ion-button>

    </ion-buttons>

    </form>


</ion-content>
